In [149]:
import pandas as pd
from IPython.display import Image #Conseguimos ver uma imagem pelo URL
from google.oauth2 import service_account

Collecting google-auth
  Downloading google_auth-2.11.1-py2.py3-none-any.whl (167 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting rsa<5,>=3.1.4
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Requirement already satisfied: six>=1.9.0 in c:\users\luiz_\anaconda3\lib\site-packages (from google-auth) (1.16.0)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.2.0-py3-none-any.whl (9.3 kB)
Collecting pyasn1<0.5.0,>=0.4.6
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Installing collected packages: pyasn1, rsa, pyasn1-modules, cachetools, google-auth
Successfully installed cachetools-5.2.0 google-auth-2.11.1 pyasn1-0.4.8 pyasn1-modules-0.2.8 rsa-4.9
Note: you may need to restart the kernel to use updated packages.

In [39]:
### Extracao dos dados

dfContrato = pd.read_csv('tabela_contratos.csv')
dfDatas = pd.read_csv('tabela_datas.csv')
dfEmpresas = pd.read_csv('tabela_empresas.csv')

In [40]:
dfContrato.head(2)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,fk_empresa_contratada
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,1
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,2

In [41]:
dfDatas.head(2)

   id_data        data
0        1  20/05/2014
1        2  27/09/2014

In [42]:
dfEmpresas.head(2)

   id_empresa      nome_empresa
0           1  Thomas Jefferson
1           2     Chaveiro City

### Transformacao dos dados

In [117]:
dfContratosMerge = dfContrato.merge(dfEmpresas,
                                    left_on='fk_empresa_contratada',
                                    right_on='id_empresa',
                                    how='left')

In [118]:
dfContratosMerge.drop(columns=['id_empresa', 'fk_empresa_contratada'], inplace=True)

In [119]:
dfContratosMerge.head(2)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,inicio_vigencia,termino_vigencia,nome_empresa
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,4,32,Thomas Jefferson
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,13,33,Chaveiro City

In [120]:
dfContratosFinal = dfContratosMerge.merge(dfDatas,
                                          left_on='inicio_vigencia',
                                          right_on='id_data',
                                          how='left')

In [121]:
dfContratosFinal.drop(columns=['inicio_vigencia','id_data'], inplace=True)

In [122]:
dfContratosFinal.rename(columns={'data': 'data_inicio_vigencia'}, inplace=True)

In [123]:
dfContratosFinal = dfContratosFinal.merge(dfDatas,
                                          left_on='termino_vigencia',
                                          right_on='id_data',
                                          how='left')

In [124]:
dfContratosFinal.head(1)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,termino_vigencia,nome_empresa,data_inicio_vigencia,id_data,data
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,32,Thomas Jefferson,20/12/2014,32,19/12/2015

In [125]:
dfContratosFinal.drop(columns=['termino_vigencia','id_data'], inplace=True)

In [126]:
dfContratosFinal.rename(columns={'data':'data_fim_vigencia'}, inplace=True)

In [127]:
dfContratosFinal.head()

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_fim_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,20/12/2014,19/12/2015
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,26/02/2015,31/12/2015
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,10/02/2015,31/12/2015
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,01/01/2015,31/12/2015
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,27/01/2015,26/01/2016

In [128]:
dfContratosFinal.count() ##Count identicos para todas as linhas, sem valores nulls!

id_contrato             184
nome_contrato           184
objeto_contrato         184
valor_contrato          184
nome_empresa            184
data_inicio_vigencia    184
data_fim_vigencia       184
dtype: int64

In [129]:
dfContratosFinal.dtypes

id_contrato               int64
nome_contrato            object
objeto_contrato          object
valor_contrato          float64
nome_empresa             object
data_inicio_vigencia     object
data_fim_vigencia        object
dtype: object

In [130]:
dfContratosFinal.data_inicio_vigencia = pd.to_datetime(dfContratosFinal.data_inicio_vigencia, format='%d/%m/%Y').dt.date

In [131]:
dfContratosFinal.data_fim_vigencia = pd.to_datetime(dfContratosFinal.data_fim_vigencia, format='%d/%m/%Y').dt.date

ValueError: day is out of range for month

In [98]:
for i in dfContratosFinal.data_fim_vigencia:
    print(i)
    print(pd.to_datetime(i))

19/12/2015
2015-12-19 00:00:00
31/12/2015
2015-12-31 00:00:00
31/12/2015
2015-12-31 00:00:00
31/12/2015
2015-12-31 00:00:00
26/01/2016
2016-01-26 00:00:00
27/01/2016
2016-01-27 00:00:00
13/02/2016
2016-02-13 00:00:00
24/02/2016
2016-02-24 00:00:00
04/03/2016
2016-04-03 00:00:00
17/03/2016
2016-03-17 00:00:00
22/03/2016
2016-03-22 00:00:00
03/04/2016
2016-03-04 00:00:00
04/04/2016
2016-04-04 00:00:00
09/04/2016
2016-09-04 00:00:00
23/04/2016
2016-04-23 00:00:00
19/05/2016
2016-05-19 00:00:00
14/07/2016
2016-07-14 00:00:00
03/08/2016
2016-03-08 00:00:00
31/08/2016
2016-08-31 00:00:00
31/08/2016
2016-08-31 00:00:00
26/09/2016
2016-09-26 00:00:00
04/10/2016
2016-04-10 00:00:00
26/10/2016
2016-10-26 00:00:00
06/11/2016
2016-06-11 00:00:00
05/12/2016
2016-05-12 00:00:00
07/12/2016
2016-07-12 00:00:00
06/01/2017
2017-06-01 00:00:00
11/05/2017
2017-11-05 00:00:00
25/05/2017
2017-05-25 00:00:00
27/11/2017
2017-11-27 00:00:00
27/12/2017
2017-12-27 00:00:00
03/12/2016
2016-03-12 00:00:00
05/12/2016
2016-05-12 00:00:00
07/12/2016
2016-07-12 00:00:00
31/12/2016
2016-12-31 00:00:00
31/12/2016
2016-12-31 00:00:00
06/01/2017
2017-06-01 00:00:00
27/01/2017
2017-01-27 00:00:00
28/01/2017
2017-01-28 00:00:00
14/02/2017
2017-02-14 00:00:00
25/02/2017
2017-02-25 00:00:00
25/02/2017
2017-02-25 00:00:00
18/03/2017
2017-03-18 00:00:00
05/03/2017
2017-05-03 00:00:00
23/03/2017
2017-03-23 00:00:00
04/04/2017
2017-04-04 00:00:00
05/04/2017
2017-05-04 00:00:00
10/04/2017
2017-10-04 00:00:00
24/04/2017
2017-04-24 00:00:00
01/05/2017
2017-01-05 00:00:00
11/05/2017
2017-11-05 00:00:00
25/05/2017
2017-05-25 00:00:00
31/05/2017
2017-05-31 00:00:00
15/07/2016
2016-07-15 00:00:00
03/08/2017
2017-03-08 00:00:00
31/08/2017
2017-08-31 00:00:00
31/09/2017

ValueError: day is out of range for month

In [132]:
dfContratosFinal.data_fim_vigencia = dfContratosFinal.data_fim_vigencia.str.replace('31/09/2017','30/09/2017')

In [133]:
dfContratosFinal.data_fim_vigencia = pd.to_datetime(dfContratosFinal.data_fim_vigencia, format='%d/%m/%Y').dt.date

In [134]:
dfContratosFinal.dtypes

id_contrato               int64
nome_contrato            object
objeto_contrato          object
valor_contrato          float64
nome_empresa             object
data_inicio_vigencia     object
data_fim_vigencia        object
dtype: object

In [135]:
dfContratosFinal.head(5)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_fim_vigencia
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31
2,3,Disp. Lic. 2,Prestação de serviço na confecção de Carimbos,1800.00,HBL Carimbos,2015-02-10,2015-12-31
3,4,32/2014,Serviço de Telefônia Móvel,73915.08,Claro S/A,2015-01-01,2015-12-31
4,5,001/2014,Publicações no Diário Oficial da União,45000.00,Imprensa Nacional,2015-01-27,2016-01-26

In [136]:
dfContratosFinal['tempo_contrato'] = (dfContratosFinal.data_fim_vigencia - \
                                      dfContratosFinal.data_inicio_vigencia).dt.days

In [137]:
dfContratosFinal.nome_contrato.value_counts()

004/16           5
42064            5
006/2015         5
005/2015         5
005/2016         4
                ..
Disp. Lic. 24    1
Disp. Lic. 23    1
Disp. Lic. 22    1
Disp. Lic. 21    1
20/2020          1
Name: nome_contrato, Length: 122, dtype: int64

In [138]:
dfContratosFinal[dfContratosFinal.nome_contrato == '004/16']

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_fim_vigencia,tempo_contrato
49,50,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2016-05-01,2017-05-01,365
71,72,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2017-05-01,2018-05-01,365
99,100,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2019-05-01,2019-05-01,0
123,124,004/16,Serviços de Telefonia Móvel (Celulares),67461.0,Claro S/A,2019-05-01,2020-05-01,366
167,168,004/16,Serviços de Telefonia Móvel (Celulares),62780.6,Claro S/A,2020-05-01,2021-05-01,365

In [139]:
dfContratosFinal.tempo_contrato.value_counts()

 365     88
 366     45
 364     10
 1096     8
 730      2
 352      2
 731      2
 0        2
 749      2
 359      2
 750      2
 722      2
 1095     2
 729      2
 350      1
 531      1
 179      1
 182      1
-2        1
 340      1
 353      1
 363      1
 324      1
 339      1
 308      1
 394      1
 295      1
Name: tempo_contrato, dtype: int64

In [140]:
dfContratosFinal = dfContratosFinal[dfContratosFinal.tempo_contrato >= 1]

In [151]:
dfContratosFinal.head(2)

,id_contrato,nome_contrato,objeto_contrato,valor_contrato,nome_empresa,data_inicio_vigencia,data_fim_vigencia,tempo_contrato
0,1,13/2012,Contratação de Empresa para Ministrar Curso de...,94947.23,Thomas Jefferson,2014-12-20,2015-12-19,364
1,2,Disp. Lic. 1,Prestação de serviço na confecção de Chaves,5234.00,Chaveiro City,2015-02-26,2015-12-31,308

In [143]:
dfContratosFinal.reset_index(drop=True, inplace=True)

### Carregamento de dados

In [150]:
credenciais = service_account.Credentials.from_service_account_file(filename='chaveBigQuery.json'
                                                                    ,scopes=["https://www.googleapis.com/auth/cloud-platform"]
                                                                   )

In [155]:
dfContratosFinal.to_gbq(credentials=credenciais,
                       destination_table='cursoELTBasico.etl_csv',
                       if_exists='replace',
                        table_schema=[{'name':'data_inicio_vigencia', 'type':'DATE'},
                                       {'name':'data_fim_vigencia', 'type':'DATE'}
                                      ]
                       )

100%|████████████████████████████████████████████████████████████████████████████████████████████| 1/1 [00:00<?, ?it/s]

Collecting pandas-gbq
  Downloading pandas_gbq-0.17.8-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: setuptools in c:\users\luiz_\anaconda3\lib\site-packages (from pandas-gbq) (58.0.4)
Collecting google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2
  Downloading google_cloud_bigquery-3.3.2-py2.py3-none-any.whl (211 kB)
Collecting google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5
  Downloading google_api_core-2.10.1-py3-none-any.whl (115 kB)
Collecting pydata-google-auth
  Downloading pydata_google_auth-1.4.0-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: pandas>=0.24.2 in c:\users\luiz_\anaconda3\lib\site-packages (from pandas-gbq) (1.3.4)
Collecting google-auth-oauthlib>=0.0.1
  Downloading google_auth_oauthlib-0.5.3-py2.py3-none-any.whl (19 kB)
Collecting google-cloud-bigquery-storage<3.0.0dev,>=1.1.0
  Downloading google_cloud_bigquery_storage-2.16.0-py2.py3-none-any.whl (185 kB)
Collecting pyarrow<10.0dev,>=3.0.0
  Downloading pyarrow-9.0.0-cp39-cp39-win_amd64.whl (19.6 MB)
Requirement already satisfied: numpy>=1.16.6 in c:\users\luiz_\anaconda3\lib\site-packages (from pandas-gbq) (1.20.3)
Collecting db-dtypes<2.0.0,>=0.3.1
  Downloading db_dtypes-1.0.4-py2.py3-none-any.whl (14 kB)
Requirement already satisfied: google-auth>=1.25.0 in c:\users\luiz_\anaconda3\lib\site-packages (from pandas-gbq) (2.11.1)
Requirement already satisfied: packaging>=17.0 in c:\users\luiz_\anaconda3\lib\site-packages (from db-dtypes<2.0.0,>=0.3.1->pandas-gbq) (21.0)
Collecting protobuf<5.0.0dev,>=3.20.1
  Downloading protobuf-4.21.6-cp39-cp39-win_amd64.whl (525 kB)
Requirement already satisfied: requests<3.0.0dev,>=2.18.0 in c:\users\luiz_\anaconda3\lib\site-packages (from google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2.26.0)
Collecting googleapis-common-protos<2.0dev,>=1.56.2
  Downloading googleapis_common_protos-1.56.4-py2.py3-none-any.whl (211 kB)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\luiz_\anaconda3\lib\site-packages (from google-auth>=1.25.0->pandas-gbq) (4.9)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\luiz_\anaconda3\lib\site-packages (from google-auth>=1.25.0->pandas-gbq) (0.2.8)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\luiz_\anaconda3\lib\site-packages (from google-auth>=1.25.0->pandas-gbq) (5.2.0)
Requirement already satisfied: six>=1.9.0 in c:\users\luiz_\anaconda3\lib\site-packages (from google-auth>=1.25.0->pandas-gbq) (1.16.0)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting google-cloud-core<3.0.0dev,>=1.4.1
  Downloading google_cloud_core-2.3.2-py2.py3-none-any.whl (29 kB)
Collecting proto-plus<2.0.0dev,>=1.22.0
  Downloading proto_plus-1.22.1-py3-none-any.whl (47 kB)
Collecting grpcio<2.0dev,>=1.47.0
  Downloading grpcio-1.48.1-cp39-cp39-win_amd64.whl (3.6 MB)
Requirement already satisfied: python-dateutil<3.0dev,>=2.7.2 in c:\users\luiz_\anaconda3\lib\site-packages (from google-cloud-bigquery!=2.4.*,<4.0.0dev,>=1.27.2->pandas-gbq) (2.8.2)
Collecting google-resumable-media<3.0dev,>=0.6.0
  Downloading google_resumable_media-2.3.3-py2.py3-none-any.whl (76 kB)
Collecting grpcio-status<2.0dev,>=1.33.2
  Downloading grpcio_status-1.48.1-py3-none-any.whl (14 kB)
Collecting google-crc32c<2.0dev,>=1.0
  Downloading google_crc32c-1.5.0-cp39-cp39-win_amd64.whl (27 kB)
Requirement already satisfied: pyparsing>=2.0.2 in c:\users\luiz_\anaconda3\lib\site-packages (from packaging>=17.0->db-dtypes<2.0.0,>=0.3.1->pandas-gbq) (3.0.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\luiz_\anaconda3\lib\site-packages (from pandas>=0.24.2->pandas-gbq) (2021.3)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\luiz_\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth>=1.25.0->pandas-gbq) (0.4.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\luiz_\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\luiz_\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2021.10.8)
Requirement already satisfied: idna<4,>=2.5 in c:\users\luiz_\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (3.2)
Requirement already satisfied: charset-normalizer~=2.0.0 in c:\users\luiz_\anaconda3\lib\site-packages (from requests<3.0.0dev,>=2.18.0->google-api-core!=2.0.*,!=2.1.*,!=2.2.*,!=2.3.0,<3.0.0dev,>=1.31.5->pandas-gbq) (2.0.4)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.1-py3-none-any.whl (151 kB)
Installing collected packages: protobuf, grpcio, googleapis-common-protos, oauthlib, grpcio-status, google-api-core, requests-oauthlib, proto-plus, google-crc32c, pyarrow, google-resumable-media, google-cloud-core, google-cloud-bigquery-storage, google-auth-oauthlib, pydata-google-auth, google-cloud-bigquery, db-dtypes, pandas-gbq
Successfully installed db-dtypes-1.0.4 google-api-core-2.10.1 google-auth-oauthlib-0.5.3 google-cloud-bigquery-3.3.2 google-cloud-bigquery-storage-2.16.0 google-cloud-core-2.3.2 google-crc32c-1.5.0 google-resumable-media-2.3.3 googleapis-common-protos-1.56.4 grpcio-1.48.1 grpcio-status-1.48.1 oauthlib-3.2.1 pandas-gbq-0.17.8 proto-plus-1.22.1 protobuf-4.21.6 pyarrow-9.0.0 pydata-google-auth-1.4.0 requests-oauthlib-1.3.1
Note: you may need to restart the kernel to use updated packages.